.truck-container {
    display: flex;
    justify-content: space-between;
}

.truck {
    flex: 0 0 calc(25% - 20px); /* Each truck takes up half of the container width with some margin */
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 50px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    max-width: 600px; /* Set a maximum width for the character container */
    width: 100%; /* Make sure the image takes up the full width of the container */
    background-color: #ffffff7c;
}

.truck img {
    max-width: 100%; /* Ensure the image scales proportionally within the container */
}

.truck:hover {
    transform: scale(1.05);
}

.truck.selected {
    border: 2px solid #007bff;
    background-color: #e6f7ff;
}
